@font-face {
	font-family: 'NotoSansKR-Regular';
	src: url(./assets/fonts/NotoSansKR/NotoSansKR-Regular.otf);
}

:root {
	--font-NotoSansKR-Regular: 'NotoSansKR-Regular';

	--primary-color-900: #4a70b3;
	--primary-color-800: #6c91d2;
	--primary-color-700: #70a5ff;
	--primary-color-500: #a3c5ff;
	--primary-color-300: #c2d8ff;
	--primary-color-100: #e8f0fd;
}
